@import '../../utils/colors.scss';
@import '../../utils/vars.scss';

.modal-overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    visibility: hidden;
    opacity: 0;

    .modal {
        background: white;
        border-radius: 2px;
        min-width: 350px;
        min-height: 200px;
        width: 500px;
        max-width: max-content;
        max-height: max-content;
        padding: 5vh 5vw 9vh;
        box-sizing: content-box;
        max-width: 40%;
        max-height: 50%;
        z-index: 1000;
        position: relative;

        display: flex;
        flex-direction: column;
        justify-content: center;

        color: $primary;
        font-size: 1.3rem;

        .modal-button {
            position: absolute;
            bottom: 2.5vh;
            right: 5vw;
            display: flex;
            font-size: 0.9rem;
        }

        .ui.form {
            box-sizing: border-box;

            textarea {
                max-height: 150px;
            }
        }

        h2 {
            padding-left: 10px;
        }

        hr {
            width: 100%;
            margin: 0 0 2vh;
        }
    }
}