@import '../../constants/colors.scss';
@import '../../constants/vars.scss';

.page {
    overflow-y: scroll;
    overflow-x: hidden;
}

.landing {
    width: 100vw;
    height: 100vh;
    letter-spacing: 0.05rem;    
    
    .links {
        height: 9vh;
        width: 100%;
        background: $primary;
        color: $secondary;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 3vw;

        .logo {
            // min-height: 3vh;
            height: 6vh;
        }

        .right {
            display: flex;
            align-items: center;
            width: 135px;
            justify-content: space-between;

            .btn {
                color: $secondary;
                border-color: $secondary;
    
                &:hover {
                    background: $secondary;
                    color: $primary;
                }
            }
    
            .link {
                cursor: pointer;
                font-size: 1.1rem;
    
                &:hover {
                    text-decoration: underline;
                }
            }
        }

    }

    .content {
        min-height: 90vh;
        display: flex;
        flex-direction: column;
        align-items: center;

        .btn:focus {
            border-color: $accent;
            box-shadow: 0 0 0 $accent inset, 0 0 7px $accent;
            outline: 0 none;
        }

        .section {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 6vh 0;

            &:nth-child(even) {
                background: whitesmoke;
            }

        }

        .section.one {
            flex-direction: row;
            height: 85vh;

            .description {
                margin: 5% 5% 5% 0;
            }

            .eg-border {
                position: relative;
                margin: 5% 5% 5% 5%;
                
                .example {
                    width: 700px;
                    border: 1px solid $primary;
                    padding: 10px;
                    border-radius: 0px;
                }
            }

            .btn {
                flex-grow: 0;
                font-size: 1.1rem;
                letter-spacing: 0.1rem;
                background: $highlight;
                border-color: $highlight;
                color: $primary;
                position: relative;
                transition: transform ease 0.2s;
                margin: 30px 0;
    
                &:active {
                    // background: $accent;
                    position: relative;
                    transform: translate(1px, 1px);
                }
            }
        }

        .section.five {
            background: $primary;
            color: $secondary;

            .signupform {
                width: 450px;
                background: $base;
                padding: 3vh 1vw;
                border-radius: 4px;
                margin: 3vh 0;


                .signup-button {
                    display: flex;
                    justify-content: center;
            
                    .btn {
                        font-size: 1.1rem;
                        width: 150px;
                        letter-spacing: 0.1rem;
                        background: $primary;
                        border-color: $primary;
                        color: $secondary;
                        position: relative;
                    }
                }
            }
            
        }
        
    }
}


@media only screen and (max-width: 1080px) {
    .landing {
        .content {
            // padding-top: 4vh;

            .section.one {
                flex-direction: column;
                padding: 4vh 0;

                .description {
                    margin: 2% 0;
                }
        
                .eg-border {
                    position: relative;
                    margin: 2%;
                    
                    .example {
                        width: 60vw;
                        min-width: 480px;
                        border: 1px solid $primary;
                        padding: 10px;
                        border-radius: 0px;
                        position: relative;
                    }
                }
            }
        }
    }
    
}

@media only screen and (max-width: 650px) {
    // .search {
    //     font-size: 1.5vw !important;
    // }
}