@import '../../utils/colors.scss';
@import '../../utils/vars.scss';

.dashboard {
    margin-left: $navbar-width;
    padding: 3vh 3vw;
    overflow-y: scroll;
    height: 100vh;

    .header {
        h2 {
            padding: 0 1vw;
        }

        hr {
            background: $primary;
        }
    }
    
    .grid {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        padding: 4vh 0 3vh;
    }
}