@import '../../styles/colors.scss';

.button-text {
    margin: 5px;
    border: $primary 1px solid;
    letter-spacing: 0.09em;
    font-size: 1em;
    padding: 0.5em 2em;
    width: auto;
    cursor: pointer;
    color: $primary;
    transition: ease 0.1s;

    &.click {
        color: $accent;
        border-color: $accent;
        // background: $primary;
    }
}

.fixed-width {
    width: 150px;
}

.button-icon {
    color: $secondary;
    padding: 8px;
    position: relative;

    .icon {
        cursor: pointer;
    }

    .icon:hover {
        color: #ebd4bc;
    }

    .button-tooltip {
        font-size: 11px;
        letter-spacing: 0.1em;
        width: auto;
        white-space: nowrap;
        background-color: #363036;
        padding: 5px 10px; 
        border-radius: 1px;
        position: absolute;
        visibility: hidden;
        opacity: 0;
        transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.4s;
    }

    .button-tooltip::after{
        z-index: 11;
        content: "";
        position: absolute;
        border-width: 5px;
        border-style: solid;
    }

    .button-tooltip-right::after {
        top: 50%;
        right: 100%;
        transform: translate(0, -50%);
        border-color: transparent #363036 transparent transparent;
    }

    .button-tooltip-left::after {
        top: 50%;
        left: 100%;
        transform: translate(0, -50%);
        border-color: transparent transparent transparent #363036;
    }

    .button-tooltip-top::after {
        top: 100%;
        left: 50%;
        transform: translate(-50%, 0);
        border-color: #363036 transparent transparent transparent ;
    }

    .button-tooltip-bottom::after {
        bottom: 100%;
        left: 50%;
        transform: translate(-50%, 0);
        border-color: transparent transparent #363036 transparent ;
    }

    &:hover .button-tooltip {
        visibility: visible;
        opacity: 1;
        z-index: 100;

    }

}

@media only screen and (max-width: 970px) {
    .button-text {
        font-size: 1.2vw;
    }
}

@media only screen and (max-width: 650px) {
    .button-text {
        font-size: 1.2vw;
    }
}