@import '../../styles/colors.scss';

.button-text {
    margin: 0;
    border: $primary 1px solid;
    letter-spacing: 0.08em;
    font-size: 0.8em;
    padding: 2px 10px;
}

.button-icon {
    color: $secondary;
    padding: 8px;
    position: relative;

    .icon {
        cursor: pointer;
    }

    .icon:hover {
        color: #ebd4bc;
    }

    .button-tooltip {
        font-size: 0.5em;
        letter-spacing: 0.1em;
        width: auto;
        white-space: nowrap;
        background-color: #363036;
        padding: 5px 10px; 
        border-radius: 1px;
        position: absolute;
        box-shadow: 2px 2px 2px #C2B8B4;
        visibility: hidden;
        opacity: 0;
        transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.4s;
    }

    .button-tooltip::after{
        z-index: 10;
        content: "";
        position: absolute;
        border-width: 5px;
        border-style: solid;
    }

    .button-tooltip-right::after {
        top: 50%;
        right: 100%;
        transform: translate(0, -50%);
        border-color: transparent #363036 transparent transparent;
    }

    .button-tooltip-left::after {
        top: 50%;
        left: 100%;
        transform: translate(0, -50%);
        border-color: transparent transparent transparent #363036;
    }

    .button-tooltip-top::after {
        top: 100%;
        left: 50%;
        transform: translate(-50%, 0);
        border-color: #363036 transparent transparent transparent ;
    }

    .button-tooltip-bottom::after {
        bottom: 100%;
        left: 50%;
        transform: translate(-50%, 0);
        border-color: transparent transparent #363036 transparent ;
    }

    &:hover .button-tooltip {
        visibility: visible;
        opacity: 1;
        z-index: 100;

    }

}
