@import '../../constants/colors.scss';
@import '../../constants/vars.scss';

.dashboard {
    margin-left: $navbar-width;
    padding: 3vh 3vw;

    .header {
        h1 {
            padding: 0 1vw;
        }

        hr {
            background: $primary;
        }
    }
    
    .grid {
        // padding: 3vh 1vw;
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        
    }
}