$primary: #544E54;
$secondary: #D5BDA4;
$ternary-light: #3AC6D6;
$ternary: #2D9CDB;
$accent:  	#DAA520;
$highlight: #ebd987;
$light-grey: #BDBDBD;
$dark-grey: #868380;
$base: #F4F2F1;
$shine: #e2e2e2;

$important: #ffb7b7;
