@import '../../constants/colors.scss';
@import '../../constants/vars.scss';

.account {
    margin-left: $navbar-width;
    padding: 3vh 3vw;

    .header {
        h2 {
            padding: 0 1vw;
        }

        hr {
            background: $primary;
        }
    }
    
    .grid {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        padding: 4vh 0 3vh;

        .change-form {
            letter-spacing: 0.05rem;
            position: relative;
            display: flex;
            flex-direction: column;
            background: $base;
            border-radius: 3px;
            width: max-content;
            height: max-content;
            padding: 10px 15px;
            margin: 0 1vw 5vh;
        
            .title {
                font-size: 1.5rem;
                padding: 0 0 1vh; 
            }
        
            form {
                width: 50vw;
                max-width: 450px;
            }
        
            .form-row {
                margin: 2vh 0 1vh;
                display: flex;
                justify-content: space-between;
                padding-left: 0.5vw;
        
                .update-button {
                    display: flex;
                    justify-content: center;
                    width: 40%;
            
                    .btn {
                        flex-grow: 0;
                        font-size: 1.1rem;
                        letter-spacing: 0.1rem;
                        background: white;
                        border-color: $primary;
                        color: $primary;
                        position: relative;
                    }
                }
                .submitted {
                    visibility: hidden;
                    color: $accent;
                    text-align: center;
                    border-radius: 3px;
                    padding: 1vh 1vw;
                }
            }

        }            
    }

}