@import '../../constants/colors.scss';
@import '../../constants/vars.scss';

.contact {
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    letter-spacing: 0.05rem;

    .logo {
        width: 180px;        
        margin-top: 8vh;
        position: relative;

        img {
            width: 100%;
            position: relative;
        }
    }

    hr {
        width: 80%;
        color: $primary;
        background: $primary;
        opacity: 0.3;
        margin: 6vh;
    }
}