@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import './styles/colors.scss';
@import './styles/vars.scss';

:root {
  font-size: 13px;
}

body {
  margin: 0;
  font-family: 'Muli', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

.app-wrapper {
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }

  p {
    margin: 0;
  }
}

::selection {
  background: $highlight; /* WebKit/Blink Browsers */
  color: $primary;
}
::-moz-selection {
  background: $highlight; /* Gecko Browsers */
  color: $primary;
}