@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import './styles/colors.scss';
@import './styles/vars.scss';

:root {
  font-size: 13px;
}

body {
  margin: 0;
  font-family: 'Muli', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  p {
    margin: 0;
  }
  a {
    color: inherit;

    &:hover {
      color: inherit;
      text-decoration: none;
    }
  }

  .btn:focus, button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner,
  textarea:focus, input:focus, input[type]:focus, .uneditable-input:focus {   
      border-color: $accent;
      box-shadow: 0 0 0 $accent inset, 0 0 7px $accent;
      outline: 0 none;
  }
}

* {
    /* Scrollbar for Firefox */
  // scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: $light-grey white;
}



/* Scrollbar for Webkit browsers */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: $light-grey;
  border-radius: 20px;
}

::-webkit-scrollbar-track {
  background: white;
  border-radius: 20px;
}

.app-wrapper {
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }

  p {
    margin: 0;
  }
}

::selection {
  background: $highlight; /* WebKit/Blink Browsers */
  color: $primary;
}
::-moz-selection {
  background: $highlight; /* Gecko Browsers */
  color: $primary;
}

// @-webkit-keyframes loading {
//   0% { background-position:  ; }
//   50% { background-position: 150% 0; }
//   100% { background-position: 150% 0; }
// }
// @-moz-keyframes loading {
//   0% { background-position: -50% 0; }
//   50% { background-position: 150% 0; }
//   100% { background-position: 150% 0; }
// }
@keyframes loading {
  0% { background: $base }
  50% { background: $shine; }
  100% { background: $base }
}

.loader {
  border-radius: 3px;
  background: $base;
  background-size: 460px 100%;
  -webkit-animation: loading 1.5s infinite ease reverse;
  -moz-animation: loading 1.5s infinite ease reverse;
  animation: loading 2s infinite ease;
}