@import '../../styles/colors.scss';
@import '../../styles/vars.scss';

.plan-layout {
    width: 63%;
    // border: 1px solid $primary;
    display: flex;
    overflow-y: scroll;
    overflow-x: hidden;
    transition: height ease 0.5s;
    // align-items: stretch;

    // * {
    //     border: 1px solid $primary;
    // }

    .plan-sidebar {
        width: 10%;
        height: max-content;
        min-height: 98%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        letter-spacing: 0.10rem;
        border-right: 1.5px solid $primary;
        padding: 5px 0;
        color: $primary;
        position: relative;
        transition: ease 0.5s;

        .year-section {
            position: relative;
            display: flex;
            width: 100%;
            flex-direction: column;
            padding-right: 0.5vw;
            box-sizing: border-box;
            align-items: flex-end;

            div {
                height: $row-height;
                width: 100%;
                display: flex;
                align-items: center;
                font-size: 0.95rem;
                text-align: right;
            }

            .plan-year {
                color: $ternary;
                font-weight: bold;
                justify-content: right;

            }

            .plan-quarter {
                color: $primary;
                font-weight: 100;
                font-size: 0.9em;
                text-align: right;
                justify-content: right;
                // font-size: 0.90rem;
            }

            .sidebar-loader {
                display: flex;
                justify-content: flex-end;

                .strip {
                    height: 15px;
                    width: 80%;
                    position: relative;
                    right: 0;
                }
            }

            
        }
    }

    .plan-body {
        width: 80%;
        padding: 5px 0;
        position: relative;

        .year-section {
            
            div {
                display: flex;
                text-align: center;
                align-items: center;
            }

            .plan-row {
                
                .year-units {
                    font-weight: bold;
                    // margin-left: 0;
                }

                .course-bin-wrapper {
                    // border: 1px solid $primary;
                    width: 100%;
                    height: 45px;
                    min-width: 250px;
                    // z-index: 10;

                    .course-bin {
                        width: 100%;
                        min-height: 100%;
                        box-sizing: border-box;
                        // border: 1px solid $primary;
                        display: flex;
                        align-items: center;
                    }
                }

                .course-loader {
                    width: 7vw;
                    max-width: $course-width;
                    height: $course-height;
                    min-height: $course-height;
                    margin: 5px;
                }

                .shadow-bin-wrapper{
                    width: 100%;
                    height: $course-height;
                    position: absolute;
                    box-sizing: border-box;
                    min-width: 250px;
                    opacity: 1;
                    visibility: visible;
                    z-index: -1;
                    // transition: ease 0.2s;

                    .shadow-bin {
                        width: 7vw;
                        max-width: $course-width;
                        box-sizing: border-box;
                        height: 100%;
                        border: 1px dashed $light-grey;
                        margin: 5px;
                        padding: 5px;
                        // transition: ease 0.1s;
                    }
                }
            }   
        }

        .button-section {
            display: flex;
            flex-direction: row;
            text-align: center;
            align-items: center;
            justify-content: center;
            height: $row-height;
            margin-top: $row-height;
            margin-bottom: $row-height;
        }
    }

    .plan-footer {
        width: 9%;
        padding: 5px 0;
        overflow: visible;
        // border: 1px solid $primary;
        
        .units-num {
            text-align: right;
            position: absolute;
            right: 62%;
        }

        .units-suffix {
            position: absolute;
            left: 43%;
        }

        .plan-row {
            justify-content: center;
            font-size: 1.2rem;
        }

        .button-icon {
            padding: 0px;
            margin: 0.3vw;
        }
    }

    .units-loader {
        width: 5vw;
        height: 15px;
        margin: 5px;
    }

    .plan-row {
        // border: 1px solid $primary;
        color: $primary;
        height: $row-height;
        font-size: 1.4rem;
        margin-left: 2%;
        display: flex;
        text-align: left;
        align-items: center;
        position: relative;
        // font-size: 2em;
    }

    .units {
        font-size: 0.9rem;
        letter-spacing: 0.1rem;
        // padding: 5px;
        padding-left: 0;
        box-sizing: border-box;
        margin: 5px;
        height: $course-height;
        display: flex;
        text-align: left;
        align-items: center;
        // border: 1px solid $primary;
    }
}

@media only screen and (max-width: 970px) {
    .plan-layout {
        .plan-sidebar {
            .year-section {
                padding-right: 0.2vw;
                div {
                    font-size: 1.2vw;
                }
                .plan-quarter {
                    font-size: 0.75em;

                }
            }
        }
        .units {
            font-size: 1.1vw;
        }
        .plan-row {
            font-size: 1.2vw;

            .button-icon {
                margin: 0.1vw;
            }
        }
    }
    
}

@media only screen and (max-width: 650px) {
    .plan-layout {
        .plan-body {
            width: 70%;
        }
        .plan-footer {
            width: 15%;
        }
        .plan-sidebar {
            width: 15%;
            .plan-section {
                div {
                    font-size: 1.8vw;
                }
            }
        }
    }
}